body {
    font-family: Calibri;
}

.complaint_list {
    border: 2px solid #555;
    border-radius: 5px;
    width: 70%;
    float: left;
    text-align: center;
    margin: 15px;
    padding: 20px;
    position: relative;
}

.checkTips {
    width: 7%;
    float: right;
    border-radius: 0px;
}

.name_user {
    font-size: 130%;
    float: left;
}

#name_art {
    font-size: 40px;
    font-weight: bold;
}

.body_complaint {
    margin-top: 2%;
    float: left;
    font-size: 130%;
    margin-left: -10%;
    width: 800px;
}

/*.one_complaint{*/
/*margin-right: 30%;*/
/*}*/

#mainMenuForSupport {
    position: fixed;
    left: 1170px;
    top: 200px;
    text-align: center;
    font-size: 130%;
}

.category-wrap {
    font-size: 130%;
    padding: 15px;
    background: white;
    width: 200px;
    box-shadow: 2px 2px 8px #333333;
    border-radius: 6px;
}

.category-wrap h3 {
    font-size: 16px;
    color: rgba(0, 0, 0, .6);
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
}

.category-wrap h3:after {
    content: "";
    width: 6px;
    height: 6px;
    background: #555555;
    position: absolute;
    right: 5px;
    bottom: 2px;
}

.category-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, .3);

}

.category-wrap li {
    margin: 12px 0 0 0px;
}

.category-wrap div[name="a"] {
    font-size: 70%;
    text-decoration: none;
    display: block;
    color: rgba(0, 0, 0, .6);
    padding: 5px;
    position: relative;
    transition: .3s linear;
}

.category-wrap div[name="a"]:after {
    content: "\f18e";
    position: absolute;
    right: 5px;
    color: white;
    transition: .2s linear;
}

.category-wrap div[name="a"]:hover {
    background: #555555;
    color: white;
}

.answer_complaint{
    float: left;
    font-size: 100%;
    margin-top: 2%;
    background: #9C9C9C;
}

#send_answer{
    width: 60%;
    height: 2%;
    border: none;
    margin-bottom: 0px;
    margin-top: 0px;
}